@media (max-width: 1000px) {
  .modal-window {
    font-size: 20px;
    padding: 4rem;
  }
}

/* для экранов с шириной ДО 800p */

@media (max-width: 800px) {
  .theme-btn {
    max-width: 60px;
    max-height: 60px;
  }

  .theme-btn:active {
    width: 58px;
    height: 58px;
    margin-bottom: 67px;
  }

  .profile-btn {
    justify-content: center;
  }

  .profile-btn-download,
  .profile-btn-contact {
    width: 200px;
    height: 70px;
  }

  .profile-btn a {
    font-size: 18px;
  }

  .profile-btn-contact p {
    padding-top: 18px;
  }

  .tabs-btns {
    padding: 15px 30px;
  }

  .tabs-btn {
    width: 310px;
  }

  .tabs-content {
    justify-content: center;
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding-bottom: 0;
  }

  .tabs-content img {
    max-width: 450px;
    height: 350px;
  }

  footer {
    padding: 20px 40px 40px;
    margin: 0;
  }

  .close-modal-window {
    top: 0.1rem;
    right: 0.5rem;
  }

  .modal-window {
    font-size: 18px;
    padding: 2.5rem;
  }
}

/* для экранов с шириной ДО 650p */

@media (max-width: 650px) {
  .header {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .theme-btn {
    max-width: 48px;
    max-height: 48px;
  }

  .theme-btn:active {
    width: 46px;
    height: 46px;
    margin-bottom: 32px;
  }

  .profile {
    margin-left: 0;
    margin-right: 0;
  }

  .profile-info {
    justify-content: center;
    flex-direction: column;
    max-width: auto;
    column-gap: 40px;
    align-items: center;
    margin-bottom: 30px;
  }

  .profile-img {
    width: 124px;
    height: 124px;
    background-image: url(./../img/avatar-bg-mobile.svg);
    margin-bottom: 40px;
  }

  .profile-img-avatar {
    width: 107px;
    height: 107px;
    margin-top: 9px;
    padding-left: 2px;
  }

  .profile-info-personal {
    margin: auto;
    text-align: center;
  }

  .profile-info-personal span {
    font-size: 32px;
    line-height: 48px;
    margin-top: 0;
  }

  .profile-info-personal p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
  }

  .profile-social {
    justify-content: space-between;
    margin-top: 20px;
  }

  .profile-social img {
    column-gap: 26px;
    height: 32px;
    width: 32px;
  }

  .profile-facts {
    padding: 20px;
    gap: 27px;
  }

  .profile-facts span {
    font-size: 16px;
    line-height: 24px;
  }

  .profile-fact {
    font-size: 14px;
    line-height: 21px;
  }

  .profile-btn {
    margin: 30px 0 30px;
    padding: 18px 20px;
    gap: 14px;
  }

  .profile-btn-download,
  .profile-btn-contact {
    width: 155px;
    height: 44px;
  }

  .profile-btn a {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.531474px;
  }

  .profile-btn-download img {
    width: 16px;
    height: 14px;
  }

  .profile-btn-contact p {
    padding-top: 13px;
  }

  .tabs-btns {
    padding: 10px 22.5px;
    margin-bottom: 40px;
    height: 84px;
  }

  .tabs-btn-bg {
    height: 64px;
    border-radius: 10px;
  }

  .tabs-btn {
    width: 154px;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
  }

  .tabs-btn:active {
    height: 46px;
  }

  .tabs-btn-text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
  }

  .tabs-content img {
    width: 340px;
    height: auto;
    margin-bottom: 30px;
  }

  footer {
    padding: 20px 40px 40px;
    margin: 0;
  }

  footer p {
    font-size: 14px;
    line-height: 21px;
  }

  .close-modal-window {
    font-size: 2rem;
    top: 0.1rem;
    right: 0.5rem;
  }

  .modal-window {
    font-size: 12px;
    padding: 1.5rem;
  }
}
